html {
  font-size: 62.5%;
}

#app {
  display: flex;
  flex-direction: column;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 10rem;
  height: 10rem;
  border: 2rem solid #dddddd;
  border-top-color: #31be31;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.active {
  background-color: #31be31;
}

.hide {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgb(186, 243, 186);
  border-bottom: 1px solid #99dd99;
}

.header__picture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.search__bar {
  position: relative;
}

.search__div {
  display: flex;
  align-items: center;
  background-color: #31be31;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  gap: 0.5rem;
}

.search__icon {
  color: #fff;
}

.search__input {
  border: none;
  font-size: 2.5rem;
  background-color: #31be31;
  color: #fff;
}

.search__input::placeholder {
  color: #fff;
  opacity: 1;
}

.search__input:focus {
  outline: none;
}

.user__profile {
  height: fit-content;
  width: 80%;
  align-self: center;
  font-family: sans-serif;
}

.user__cover__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__cover {
  height: 35rem;
}

.user__profile__photo {
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
  position: absolute;
  bottom: 50%;
  left: 3.2rem;
  object-fit: cover;
}

.user__profile__information {
  height: 20%;
  display: flex;
  position: relative;
  border-bottom: 1px solid #99dd99;
  border-left: 1px solid #99dd99;
  border-right: 1px solid #99dd99;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 2rem 0;
}

.user__profile__information__div {
  margin-left: 18rem;
}

.user__profile__username {
  font-size: 3rem;
  margin: 0.8rem;
}

.user__profile__adress {
  font-size: 2rem;
  margin: 0.8rem;
}

.new__post {
  align-self: center;
  margin: 3rem 0;
}

.new__post__form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.new__post__input {
  border: none;
  font-size: 2rem;
  background-color: #31be31;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  width: 60rem;
  color: #fff;
}

.new__post__input::placeholder {
  color: #fff;
}

.new__post__input:focus {
  outline: none;
}

.new__post__button {
  border: none;
  font-size: 2rem;
  background-color: #167716;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}

.main__container {
  background-color: #31be31;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: fit-content;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.friends__container {
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  background-color: #fff;
  font-family: sans-serif;
  padding: 1.5rem;
}

.friends__list {
  padding: 0;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.friend__photo {
  height: 13rem;
  width: 18rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.friends__container h1 {
  font-size: 3.5rem;
  margin: 1rem;
}

.friends__container h3 {
  font-size: 1.8rem;
  margin: 1rem;
}

.friends__list__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.2rem;
}

.posts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.posts__list__item {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: sans-serif;
  max-width: 90rem;
}

.post__user__photo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.post__user__div {
  display: flex;
  align-items: center;
}

.post__user__infos {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem;
}

.post__user__infos h1,
p {
  margin: 0;
}

.post__user__infos h1 {
  font-size: 2rem;
}

.post__user__infos p {
  font-size: 1.5rem;
}

.post__text {
  font-size: 2.7rem;
  font-weight: 100;
}

.likes__comments__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.post__btn svg {
  width: 2rem;
  height: 2rem;
}

.post__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
  border: 1px solid #31be31;
  transition: all 0.5s;
}

.post__btn:hover {
  cursor: pointer;
  background-color: #31be31;
  transition: all 0.5s;
}

.post__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.add__comment__div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.add__comment__input {
  border: none;
  font-size: 2rem;
  background-color: #31be31;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  width: 60rem;
  color: #fff;
}

.add__comment__input::placeholder {
  color: #fff;
}

.add__comment__input:focus {
  outline: none;
}

.add__comment__btn {
  border: none;
  font-size: 2rem;
  background-color: #167716;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}

.comment__photo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  margin-right: 1rem;
}

.comments__list {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.comments__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
  padding: 1rem 0;
}

.comment__owner {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.comment__text {
  font-size: 2rem;
}

.find__friends__list {
  list-style: none;
  padding: 0;
  background-color: #31be31;
  padding: 2rem;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  z-index: 99;
}

.find__friends__photo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  margin-right: 1rem;
}

.find__friends__list__item {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.find__friends__list__item:hover {
  background-color: #99dd99;
}
